.form-group {
	margin-bottom: 1rem;
	font-size: 0.875rem;
	font-weight: 500;
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.25rem 0.5rem;
	margin-top: 0.125rem;
  font-size: .875rem;
  line-height: 1.5;
	color: #495057;
	background-color: #f9fafe;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.input-field-wrapper {
	position: relative;
}
.input-field-wrapper i{
	position: absolute;
	right: 0;
	top: 25%;
	color: #dc3545;
}

/* Multiselect Dropdown */
:root {
  --col-primary-active: #3a67d9;
  --col-primary-text: #4c4c4c;
  --col-separator: #cccccc;
}

.drop-down__list-item {
  padding: 4px 8px;
  display: flex;
  align-items: center;
}
.drop-down__list-item:hover {
  color: #2f3031;
  background-color: #f9fafe;
}
.drop-down__list-item.active {
  color: #3a67d9;
  background-color: #f9fafe;
}

.drop-down__list-item input[type="checkbox" i] {
  background-color: #3a67d9;
}

.drop-down__list-item > input {
  margin: 0.3rem;
}

.multiselect-drop-down__button {
    color: inherit;
    position: relative;
    border: 1px solid var(--col-separator);
    border-radius: 3px;
    width: var(--width-list);
    font-size: 12px;
    height: 30px;
    text-align: left;
    padding-left: 5px;
    cursor: pointer;
    font-family: inherit;
}

.drop-down-icon {
  position: absolute;
  width: 30px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
}

.multiselect-drop-down {
  --font-size: 14px;
  --width-list: 135px;
}

.multiselect-drop-down {
  font-size: var(--font-size);
  font-weight: 400;
  /* width: var(--width-list); */
  position: relative;
  z-index: 1;
  display: flex;
}

.multiselect-drop-down .multiselect-dropdown-title {
  padding: 0.25rem 0.75rem;
  display: block;
  font-size: 14px;
  font-weight: 500
}

button.multiselect-drop-down__button.multiselect-drop-down--is-open {
    color: var(--col-primary-active);
}

button.multiselect-drop-down__button.multiselect-drop-down--is-open span {
    color: var(--col-primary-text);
}

.multiselect-drop-down__list-wrapper {
  /* border: 1px solid var(--col-separator); */
	padding: 0.5rem;
	box-shadow: 0px 8px 16px -8px #cacfd5;
	border-radius: 10px;
	min-width: 10rem;
  width: 100%;
  background: white;
  position: absolute;
	right: 0;
}

.single-select-drop-down__button {
  color: inherit;
  position: relative;
  border: 1px solid var(--col-separator);
  border-radius: 3px;
  width: var(--width-list);
  font-size: 12px;
  height: 30px;
  text-align: left;
  padding-left: 5px;
  cursor: pointer;
  font-family: inherit;
}

.drop-down-icon {
position: absolute;
width: 30px;
height: 29px;
display: flex;
align-items: center;
justify-content: center;
top: 0;
right: 0;
}

.single-select-drop-down {
--font-size: 14px;
--width-list: 135px;
}

.single-select-drop-down {
font-size: var(--font-size);
font-weight: 400;
/* width: var(--width-list); */
position: relative;
z-index: 1;
display: flex;
}

.single-select-drop-down .single-select-dropdown-title {
padding: 0.25rem 0.75rem;
display: block;
font-size: 14px;
font-weight: 500
}

button.single-select-drop-down__button.single-select-drop-down--is-open {
  color: var(--col-primary-active);
}

button.single-select-drop-down__button.single-select-drop-down--is-open span {
  color: var(--col-primary-text);
}

.single-select-drop-down__list-wrapper {
/* border: 1px solid var(--col-separator); */
padding: 0.5rem;
box-shadow: 0px 8px 16px -8px #cacfd5;
border-radius: 10px;
min-width: 12rem;
width: 100%;
background: white;
position: absolute;
right: 0;
}
